.first{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    background: blue;
    
}

.first:hover{
   
    animation: color 2s;
    transform: rotate(2.1);
   
}

.second{
    border: 2px solid black;
    width: 500px;
    height: 100px;
}

.first-circle{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 100%;
    animation: first-circle 5s infinite;
}

.third-animation{
    width: 150px;
    height: 150px;
    animation: third-animation 2s infinite;
}

@keyframes first-circle{
    0%{
       margin-right: 400px;
    }
    50%{
        margin-left:  400px;
    }
    100%{
        margin-right: 400px;
    }
}

@keyframes third-animation{
    0%{
        rotate: 360deg;
    }
}


@keyframes color {
    0%{
        background: blue;
    }
    50%{
        background: rgb(100, 66, 100);
        width: 250px;
        height: 250px;
        rotate: 180deg;
        
    }
    100%{
        background: rgb(216, 141, 141);
    }
}
